*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

#logo-img {
  height: 4.2vh;
}

.menu-text {
  display: none;
}

.image-slideshow {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
}

/* change the height of the images & gradient here: */
.image-slideshow img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  mask-image: linear-gradient(to left, rgba(255, 82, 82, 0) 0%,rgba(0,0,0,0.65) 100%);
  -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.942) 100%);
}

.fade {
  animation-name: fade; 
  /* animation-name: none; --if the fading is too much */
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

#hero-text{
  position: absolute;
  bottom: 3rem;
  right: 1.8rem;
  direction: rtl;
  font-size: 1.5rem;
}

@media screen and (min-width: 800px) {
  .image-slideshow img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
  }

  .menu-text {
    display: flex;
    justify-content: right;
  }
  
  .menu-text li {
    padding: 2vh;
    list-style: none;
  }

  #logo-img {
    height: 8vh;
  }

  #hero-text{
    position: absolute;
    bottom: 6rem;
    right: 3.5rem;
    direction: rtl;
    font-size: 3rem;
  }
}