*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

#logo-img {
  height: 4.2vh;
}

.menu-text {
  display: none;
}

.image-slideshow {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
}

/* change the height of the images here: */
.image-slideshow img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}
.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

#hero-text{
  position: absolute;
  bottom: 8px;
  left: 16px;
}

@media screen and (min-width: 800px) {
  .image-slideshow img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
  }

  .menu-text {
    display: flex;
    justify-content: right;
  }
  
  .menu-text li {
    padding: 2vh;
    list-style: none;
  }

  #logo-img {
    height: 8vh;
  }
}